<div class="section">
  <div class="container">
    <div class="row mb-5 text-center aos-init aos-animate" data-aos="fade-up">
      <span class="subheading d-block">Deprem Yardım Hattı</span>
      <h2 class="heading">İletişim Sayfası</h2>
    </div>
    <div class="row ">
      <div class="col-lg-6">
        <h3 class="heading">Veri Girişi Eğitim Videosu</h3>
        <video class="video-wrap glightbox border border-3 p-1 border-secondary rounded" controls preload="auto"
               data-config="some-js-object-here" style="width: 100%;">
          <source src="/src/assets/videos/VID-20230207-WA0322.mp4" type='video/mp4'>
        </video>
      </div>
      <div class="col-lg-6">
        <div class="">
          <div class="row mb-5 text-center aos-init aos-animate" data-aos="fade-up">
            <h2 class="heading">Bizimle İletişime Geçin!</h2>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <div class="icon">
                  <a href="https://chat.whatsapp.com/DTtYZsOfwPB9ehS23ua8sC" target="_blank" class="m-1">
                    <img src="assets/svg/whatsapp.svg" alt="Image" class="img-fluid">
                  </a>
                  <a href="https://discord.gg/aTY9dvAH" target="_blank" class="m-1">
                    <img src="assets/svg/discord.svg" alt="Image" class="img-fluid">
                  </a>
                  <a href="https://www.instagram.com/depremyardimhatti/" target="_blank" class="m-1">
                    <img src="assets/svg/instagram.svg" alt="Image" class="img-fluid">
                  </a>
                  <a href="https://mobile.twitter.com/depremyardimhat" target="_blank" class="m-1">
                    <img src="assets/svg/twitter.svg" alt="Image" class="img-fluid">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
