<div class="section">
  <div class="container">
    <div class="row mb-5 text-center aos-init aos-animate" data-aos="fade-up">
      <span class="subheading d-block">Deprem Yardım Hattı</span>
      <h2 class="heading">İletişim Sayfası</h2>
    </div>
    <div class="row ">
      <div class="col-lg-7">
        <h3 class="heading text-center">Biz Kimiz!</h3>
        <div class="mt-3 p-2">
          <p>Biz, afet bölgesinden gelen yardım taleplerini tek bir çatı altında toplayarak bunları gerekli kurum ve
            kuruluşlarla paylaşma amacı güden ve yalnızca gönüllü kişilerce desteklenen bir platformuz. Hiçbir kurum ve
            kuruluşla ilişiğimiz olmadığı gibi gerektiğinde yetkili kurum ve kuruluşlarla da işbirliği yapabiliriz.
          </p>
          <p>Bu platform sayesinde bizimle paylaşmış olduğunuz tüm taleplerde yer alan kişisel bilgileriniz Çevre ve
            Şehircilik Bakanlığı, deprem.io, sivil toplum kuruluşları ve lokal gruplar gibi yetkili arama ve kurtarma
            kuruluşları ile kişisel veri işleme amacı güderek sınırlı olarak paylaşılacaktır.
          </p>
          <p>Yardım ya da desteğe ihtiyacı olduğunu belirttiğiniz kişilerin kişisel verileri ‘’Fiili imkânsızlık
            nedeniyle rızasını açıklayamayacak durumda bulunan veya rızasına hukuki geçerlilik tanınmayan kişinin
            kendisinin ya da bir başkasının hayatı veya beden bütünlüğünün korunması için zorunlu olması’’ hukuki
            sebebine dayanarak, otomatik yollarla işlenecektir. Tarafınıza ait kişisel veriler, ‘’Bir hakkın tesisi,
            kullanılması veya korunması için veri işlemenin zorunlu olması’’ hukuki sebebine dayanarak işlenecektir.
          </p>
          <p>Ülkemizde 06.02.2023 tarihinde meydana gelen deprem ile birlikte kurulan bu platform hiçbir kar amacı
            gütmez. Hiçbir kurum ve kuruluşla bağlantısı yoktur.</p>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-3">
            <img class="w-100" src="assets/images/logo.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="">
          <div class="row mb-5 text-center aos-init aos-animate" data-aos="fade-up">
            <h2 class="heading">Bizimle İletişime Geçin!</h2>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <div class="icon">
                  <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                      <a href="https://linktr.ee/depremyardimhatti" target="_blank" class="mx-5">
                        <img src="https://website.linktr.ee/icons/icon-48x48.png?v=0f096d2d5e3af7be669a0cba46df3a54"
                          alt="Image" class="img-fluid" style="width: 40px;">
                      </a>
                      <a href="https://chat.whatsapp.com/DTtYZsOfwPB9ehS23ua8sC" target="_blank" class="mx-5">
                        <img src="/assets/svg/whatsapp.svg" alt="Image" class="img-fluid">
                      </a>
                      <a href="" target="_blank" class="mx-5">
                        <img src="/assets/svg/telegram.svg" alt="Image" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-lg-12 d-flex justify-content-center">
                      <a href="https://discord.gg/aTY9dvAH" target="_blank" class="mx-5">
                        <img src="/assets/svg/discord.svg" alt="Image" class="img-fluid">
                      </a>
                      <a href="https://www.instagram.com/depremyardimhatti/" target="_blank" class="mx-5">
                        <img src="/assets/svg/instagram.svg" alt="Image" class="img-fluid">
                      </a>
                      <a href="https://mobile.twitter.com/depremyardimhat" target="_blank" class="mx-5">
                        <img src="/assets/svg/twitter.svg" alt="Image" class="img-fluid">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <video class="video-wrap glightbox border border-3 p-1 border-secondary rounded" controls preload="auto"
          data-config="some-js-object-here" style="width: 100%;">
          <source src="/assets/videos/VID-20230207-WA0322.mp4" type='video/mp4'>
        </video> -->