.custom-row {
  align-items: center;
  width: 100%;
  gap: 10px;
  flex: 1 0;
  padding: .5rem 0rem;
}

.row-heading {
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.form-button-custom {
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}
