<div class='filter-panel__container'>
  <div class='filter-panel__filters'>
    <div class='container-fluid'>
      <form [formGroup]='form'>

        <div class="d-flex align-items-center justify-content-between mt-3">
          <h4 style='font-weight: bold; margin-bottom: 0'>
            Arama Yap
          </h4>
          <button class='filter-panel__header--close' (click)='onClickClose()'>X</button>
        </div>

        <hr>
        <div class='row'>
          <div class='col-md-12'>
            <mat-form-field class="example-full-width">
                <mat-label>Kaç Saat Önce?</mat-label>
                <mat-select formControlName='hour'>
                  <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{hour}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div class='col-md-12'>
            <mat-form-field class="example-full-width">
              <mat-label>Adres</mat-label>
              <input matInput placeholder="Adres ekleyiniz" formControlName="address">
            </mat-form-field>
          </div>
          <div class='col-md-6'>
            <button style='width: 100% ;' mat-raised-button color="warn"
                    [disabled]="loading" (click)="onClickClear()">
              Temizle
            </button>
          </div>
          <div class='col-md-6'>
            <button style='width: 100% ;background-color: #00337C;' mat-raised-button color="primary"
                    [disabled]="loading" (click)="onFormSubmit()">
              Ara
            </button>
          </div>
        </div>
      </form>
      <div class='row'>
        <div class='col-md-12' style='margin-top:25px;'>
          <h4 style='font-weight: bold;'>Son İhbarlar</h4>
          <hr>
          <div  class='filter-panel__cardContainer'>
            <app-filter-card [helpRequest]='item' (goClick)='onClickAddress($event)' *ngFor='let item of sortedRequestArray'></app-filter-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
