@import "~leaflet/dist/leaflet.css";
@import 'ngx-toastr/toastr';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container {
  z-index: 999999;
}

.mat-form-field-infix {
  display: flex !important;
}


.leaflet-popup-content  {
  margin: 0 !important;
  border-radius: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5px !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}
